<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StratosParallax.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StratosParallaxExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA2915DD19F302710068FE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA2915F219F302710068FE09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAB2A98419F8EF0200840539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAB2A98E19F8EF0200840539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
